//arrow - banner home
.slick-prev {
    left: 40px;
    &::before {
        border-left: 4px solid #fff;
        transform: translate(-30%, -50%) rotate(-45deg);
    }
}
.slick-next {
    right: 40px;
    &::before {
        border-right: 4px solid #fff;
        transform: translate(-60%, -50%) rotate(45deg);
    }
}
.slick-prev, .slick-next {
    background: #ebedf1 none repeat scroll 0 0;
    border-radius: 50%;
    border: 2px solid #fff;
    height: 40px;
    width: 40px;
    z-index: 2;
    &::before {
        border-top: 4px solid #fff;
        content: "";
        font-size: 0;
        left: 50%;
        opacity: 1;
        padding: 5px;
        position: absolute;
        top: 50%;
    }
}
//arrow - du an
.duan-content {
    .slick-dots {
        bottom: -30px;
        li {
            border-color: transparent;
            button {
                background: $bg-dot;
            }
        }
        .slick-active {
            border-color: $bg-dot;
        }
    }
    .slick-prev {
        left: -40px;
        &::before {
            border-left: 4px solid $bg-dot;
        }
    }
    .slick-next {
        right: -40px;
        &::before {
            border-right: 4px solid $bg-dot;
        }
    }
    .slick-prev, .slick-next {
        border: 2px solid $bg-dot;
        &::before {
            border-top: 4px solid $bg-dot;
        }
    }
}