//dot - banner home
.slick-dots {
    bottom: 15px;
    left: 0;
    li {
        border: 2px solid #fff;
        border-radius: 50%;
        height: auto;
        padding: 3px;
        width: auto;
        button {
            border-radius: 50%;
            color: #fff;
            height: auto;
            padding: 4px;
            width: auto;
            &::before {
                content: "";
            }
        }
    }
    .slick-active {
        button {
            background: #fff none repeat scroll 0 0;
        }
    }
}