
.contact-content {
    max-width: 400px;
    label {
        color: $red-primary;
        margin: 5px 0 0;
    }
    input, textarea {
        border: 1px solid #ccc;
        width: 100%;
        padding: 5px 10px;
    }
    textarea {
        height: 90px;
    }
    .submit {
        background: $red-primary;
        color: #fff;
        display: inline-block;
        padding: 5px 15px;
        width: auto;
    }
}



.contact-form br {
    display: none;
}
.contact-form-contact {
    .wpcf7-not-valid-tip {
        margin-top: 5px;
    }
    .wpcf7-validation-errors, .wpcf7-mail-sent-ng, .wpcf7-mail-sent-ok {
        border: medium none;
        color: red;
        margin: 0;
        padding: 0;
    }
    .wpcf7-mail-sent-ok {
        color: green;
    }
}

