.page-navi {
    text-align: center;
    margin: 30px 0 0 0;
    .page-numbers {
	    background: $red-primary;
	    color: #fff;
	    padding: 7px 10px;
	}
	.current {
	    background: #bfbfbf none repeat scroll 0 0;
	    color: #000;
	}
}



//pagenavi listing
.pagination {
    text-align: center;
    width: 100%;
    ul {
    	list-style-type: none;
	    margin: 30px auto 0;
	    display: inline-block;
	    padding: 0;
	    li {
		    float: left;
		    padding: 0 3px;
		    a, span {
			    background: $red-primary;
			    padding: 7px 10px;
			    color: #fff;
			}
			.current {
			    background: #bfbfbf none repeat scroll 0 0;
			    color: #000;
			}
		}
	}
}