a:hover, a:focus, a:active{ text-decoration: none; outline: none; @include transition(all 500ms ease 0s); }
input, select, textarea { outline: none; }
input:focus, select:focus, textarea:focus { outline: none; }
img { max-width: 100%; height: auto; }

body {
	background: $bg-body;
}
figure {
    margin: 0;
}
.widget p {
    margin: 0;
}

.msc-listing {
    width: 100%;
}

#back-to-top {
    bottom: 60px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 15px;
    z-index: 99;
    .fa {
        background: $red-primary;
        @include border-radius( 50% );
        color: #fff;
        line-height: 37px;
        text-align: center;
        width: 40px;
        padding-bottom: 3px;
    }
}

@font-face{
  font-family: 'myriad-semibold';
  src:url('../fonts/Myriad-Pro-Semibold-Condensed_31644.ttf');
}

@font-face{
  font-family: 'myriad-condensed';
  src:url('../fonts/Myriad-Pro-Condensed_31633.ttf');
}

.main {
    display: inline-block;
    width: 100%;
}

.page-header {
    position: relative;
    padding-bottom: 50px;
    h1 {
	    left: 50%;
	    position: absolute;
	    top: -25px;
        white-space: nowrap;
	    @include transform( translateX(-50%) );
	    @extend css-font-myriad;
        @extend border-radius-web;
	}
}
.cat-title h3 {
	@extend css-font-myriad;
}
.title h3:hover {
    color: $red-primary !important;
}
.read-more a {
    bottom: 0;
    color: #000;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: center;
}
	.item:hover {
	    .read-more a {
	        background: #808080 none repeat scroll 0 0;
	        color: #fff;
	        @include transition( all 0.4s ease 0s );
	    }
	}

/* @extend background-cover; */
background-cover {
    @include background-size( cover );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
/* @extend border-radius-web; */
border-radius-web {
	@include border-radius( 15px );
}
/* @extend box-shadow-image; */
box-shadow-image {
	@include box-shadow( 5px 8px 0 #ccc );
	border: 4px solid #fff;
}
/* @extend css-font-myriad; */
css-font-myriad {
	background: #980000 none repeat scroll 0 0;
	color: #fff;
	font-size: 24px;
	font-family: myriad-condensed;
	margin: 0;
	padding: 12px 20px 8px;
	text-align: center;
	text-transform: uppercase;
}



