.header-content {
	display: flex;
	display: -webkit-flex;
	.logo {
	    width: 200px;
	    text-align: left;
	    figure img {
		    @include box-shadow( 0 0 10px 0 #999 );
		}
	}
	.header-right {
		display: flex;
	    display: -webkit-flex;
	    @include align-items( flex-end );
	    @include flex-wrap( wrap );
	    padding-left: 20px;
	    width: 100%;
		.header-top {
		    color: $red-primary;
		    font-size: 40px;
		    padding: 10px 0 0 10px;
		    font-family: myriad-condensed;
		    text-transform: uppercase;
		    width: 100%;
		}
		.header-bottom {
		    background: $red-primary;
			display: flex;
		    display: -webkit-flex;
		    @include justify-content( space-between );
		    width: 100%;
			.header-bottom-right {
			    background: $bg-body none repeat scroll 0 0;
				display: flex;
			    display: -webkit-flex;
			    @include align-items( center );
				.search-box {
				    margin: 0 10px;
				    position: relative;
					form {
						input {
						    border: medium none;
						    @extend border-radius-web;
						    display: none;
						    height: 100%;
						    margin-right: 15px;
						    padding: 0 15px;
						    position: absolute;
						    right: 100%;
						}
						.search-icon {
						    background: $red-primary none repeat scroll 0 0;
						    @include border-radius( 50% );
						    color: #fff;
						    cursor: pointer;
						    height: 30px;
						    line-height: 30px;
						    text-align: center;
						    width: 30px;
						}
					}
				}
				.language {
				    display: inline-block;
				    color: $red-primary;
				    cursor: pointer;
				    font-size: 13px;
				    font-family: myriad-condensed;
				    height: 100%;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    position: relative;
				    text-transform: uppercase;
				    span {
				    	white-space: nowrap;
				    }
				    &::after {
					    border-left: 5px solid transparent;
					    border-right: 5px solid transparent;
					    border-top: 5px solid $red-primary;
					    bottom: 10px;
					    content: "";
					    left: 50%;
					    position: absolute;
					    @include transform( translateX(-50%) );
					}
					// &:hover #lang_sel_list ul {
					//     display: inline-block;
					// }
					#lang_sel_list {
					    top: 100%;
					    height: auto;
					    left: 50%;
					    position: absolute;
					    width: 40px;
					    @include transform( translateX(-50%) );
					    ul {
					    	background: #fff none repeat scroll 0 0;
						    border: medium none;
						    // display: inline-block;
						    display: none;
						    height: auto !important;
						    @extend border-radius-web;
						    @include animation( 0.3s ease 0s normal none 1 running fadeInUp );
						    .icl-en a {
						    	background: rgba(0, 0, 0, 0) url("../images/america.png") no-repeat scroll center center;
						    	@include background-size( contain );
						    }
						    .icl-vi a {
						    	background: rgba(0, 0, 0, 0) url("../images/vietnam.png") no-repeat scroll center center;
						    	@include background-size( contain );
						    }
						    li {
							    width: auto;
							    a {
								    border: medium none;
								    height: 30px;
								    margin: 5px;
								    padding: 0;
								    width: 30px;
						    		@include border-radius( 50% );
								    img {
									    display: none;
									}
								}
								&:first-child {
									a {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

//menu pc
.menu {
    position: relative;
    width: 100%;
    &::after {
	    background: $red-primary;
	    content: "";
	    height: 100%;
	    position: absolute;
	    right: 100%;
	    top: 0;
	    width: 100%;
	    z-index: -1;
	}
    .main-menu {
		> div {
	        ul {
	        	list-style-type: none;
			    margin: 0;
			    padding: 0;
	            li {
	                position: relative;
	                a {
					    color: #ffffff;
					    display: block;
					    font-family: myriad-condensed;
					    font-size: 18px;
					    padding: 12px 20px 8px;
					    position: relative;
					    text-transform: uppercase;
					    white-space: nowrap;
	                }
	                &:hover {
	                    > a {
						    background: #a55757 none repeat scroll 0 0;
						}
	                    > .sub-menu {
	                        @include transform( scale(1, 1) );
	                    }
	                }
	            }
	            .current-menu-item > a {
	            	background: #a55757 none repeat scroll 0 0;
	            }
	        }
	        > ul {
	            > li {
	                float: left;
	                border-left: 1px solid transparent;
					border-right: 1px solid transparent;
	                .sub-menu {
	                    left: -1px;
	                    position: absolute;
	                    top: 100%;
	                    z-index: 2222;
	                    min-width: 250px;
					    @include transform( scale(1, 0) );
					    @include transform-origin( 0 0 0 );
					    @include transition( all 400ms ease 0s );
	                    .sub-menu {
						    border-left: 1px solid transparent;
						    left: 100%;
						    top: -1px;
	                    }
	                    li {
	                    	border-top: 1px solid transparent;
	                    	a {
								background: #a55757 none repeat scroll 0 0;
							    &::after {
								    background: $red-primary;
								    content: "";
								    height: 100%;
								    left: 0;
								    position: absolute;
								    top: 0;
								    width: 6px;
								}
	                    	}
	                    }
	                }
	                &:first-child {
	                	a {
						    padding: 7px 10px 5px;
						    .fa {
							    font-size: 30px;
							}
						}
					}
	            }
	        }
	    }
	}
}

//menu mobile
.menu .mean-container {
    position: relative;
}
.menu .mean-container .mean-bar {
    background: none;
    left: 0;
    padding: 2px 0 4px;
    position: absolute;
    top: 1px;
    z-index: 9;
    max-width: 300px;
}
.menu .mean-container .mean-bar .meanmenu-reveal {
	background: $red-primary;
    border: 1px solid rgba(255, 255, 255, 0.5);
    left: 0 !important;
    top: 0;
    height: 20px;
    line-height: 20px;
    width: 22px;
    padding: 10px 11px 10px;
}
.menu .mean-container .mean-bar .mean-nav {
    background: $red-primary !important;
    margin-top: 40px;
}
.menu .mean-container .mean-nav ul li a {
    font-family: myriad-condensed;
    font-size: 18px;
    padding-bottom: 6px;
    padding-top: 10px;
    text-transform: none;
}
.menu .mean-container .mean-nav ul li .mean-expand {
    height: 19px;
    line-height: 19px;
}
.menu .mean-container .mean-nav ul li .mean-expand:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}

