
.banner-home {
    position: relative;
    .slick-active .banner-title {
        display: block;
    }
    .banner-title {
        bottom: 40px;
        left: 0;
        position: absolute;
        @include animation( 1.5s ease 0s normal both 1 running fadeInLeftBig );
        display: none;
        a h3 {
            background: #fff none repeat scroll 0 0;
            color: #000;
            display: inline-block;
            font-size: 18px;
            margin: 0;
            padding: 10px 10px 10px 100px;
        }
        .fa {
            background: $red-primary;
            color: #fff;
            font-size: 22px;
            height: 100%;
            left: 100%;
            line-height: 40px;
            position: absolute;
            text-align: center;
            top: 0;
            width: 40px;
        }
    }
    img {
        @extend background-cover;
        margin: 0 !important;
    }
}

.banner-no-home {
    img {
        width: 100%;
    }
}

















