.doitac {
	article {
		float: left;
    	margin: 0 0 20px;
    	figure {
    		@include hover-img-toa-vuong;
			img {
				@extend background-cover;
				@extend box-shadow-image;
			}
    	}
		.title h3 {
		    font-size: 24px;
		    font-weight: normal;
		    margin: 20px 0 0;
		    padding: 0;
		    text-align: center;
		}
	}
}