.duan {
	margin-top: -50px;
}
	
.duan-content {
	padding: 0 0 30px;
	&:first-child {
	    padding-top: 20px;
	}
	&:nth-child(2n+1) {
		background: #fff;
	}
	.title {
		display: inline-block;
	    text-align: center;
	    width: 100%;
	    h3 {
	    	background: transparent;
		    color: $bg-dot;
		    font-size: 30px;
		    margin: 20px 0;
	    	@extend css-font-myriad;
		}
	}
	.slick-list {
		article {
			max-width: 100%;
		}	
	}
	figure {
		@include hover-img-color;
		img {
			@extend background-cover;
			@extend box-shadow-image;
		}
	}	
}

.slick-slide img {
	margin-bottom: 10px;
}





