.project-news {
    margin-bottom: 30px;
    .msc-listing {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ccc;
        .item {
            position: relative;
            padding-bottom: 34px;
            figure {
                @include hover-img-toa-right-left;
                a img {
                    @extend background-cover;
                }
            }
            .title h3 {
                background: transparent;
                border-bottom: 1px solid #ccc;
                color: #000;
                @extend css-font-myriad;
            }
            .read-more a {
                font-size: 16px;
                left: 50%;
                right: auto;
                @include transform( translateX(-50%) );
                width: 100%;
                .fa {
                    font-size: 20px;
                }
            }
        }
    }
}





.intro-home {
    margin-bottom: 30px;
    .cat-title h3 {
        display: inline-block;
        margin: 0 0 15px 0;
    }
    .intro-home-content {
        background: #fff none repeat scroll 0 0;
        font-size: 14px;
        padding: 20px;
        text-align: justify;
        .intro-home-button {
            text-align: center;
            a {
                background: #808080 none repeat scroll 0 0;
                color: #fff;
                display: inline-block;
                font-size: 18px;
                padding: 10px 20px;
            }
        }
    }
}




