
.gioi-thieu-content {
    margin: -50px 0 0;
}
.gioi-thieu-video {
    > p {
        margin: 0;
    }
    iframe {
        border: 5px solid #acacac;
        display: flex;
        display: -webkit-flex;
        margin: 30px 0;
        width: 100%;
    }
}
.chung-nhan {
    background: #cccccc none repeat scroll 0 0;
    padding: 0 0 30px;
    text-align: center;
    .row {
        padding: 0 80px;
    }
    .cat-title h3 {
        background: #959595 none repeat scroll 0 0;
    }
    article {
        margin: 50px 0;
        img {
            border: 5px solid transparent;
            margin: auto;
            width: calc(100% - 20px);
            @extend background-cover;
            &:hover {
                border: 5px solid #749601;
            }
        }
    }
}
