
.single-content {
    background: #fff none repeat scroll 0 0;
    padding: 40px;
    text-align: justify;
}
.entry-title {
	background: transparent;
    color: #000;
    margin: 0 0 20px;
	@extend css-font-myriad;
}
